@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agenda ASP.NET</h1>
    <p class="lead">Com a Agenda ASP.NET você armazena seus contatos sem dificuldades.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo a Agenda ASP.NET</h2>
        <p>Sua agenda pessoal está aqui!
        </p>
    </div>
</div>